mode: rule
mixed-port: 7890
ipv6: false
allow-lan: true
unified-delay: true
tcp-concurrent: true
log-level: warning
bind-address: '*'
find-process-mode: always
global-client-fingerprint: chrome
keep-alive-interval: 30
keep-alive-idle: 600
profile:
  store-selected: true
  store-fake-ip: true
external-ui-url: https://github.com/Zephyruso/zashboard/releases/latest/download/dist.zip
external-ui-name: zashboard
external-ui: ui
external-controller: 0.0.0.0:9090
tun:
  enable: true
  stack: mixed
  dns-hijack:
    - any:53
    - tcp://any:53
  auto-route: true
  auto-redirect: true
  auto-detect-interface: true
dns:
  enable: true
  ipv6: false
  enhanced-mode: fake-ip
  listen: 0.0.0.0:1053
  fake-ip-range: 198.18.0.1/16
  fake-ip-filter:
    - +.lan
    - +.local
    - time.*.com
    - ntp.*.com
    - +.miwifi.com
    - +.docker.io
    - +.market.xiaomi.com
    - +.push.apple.com
  nameserver:
    - quic://dns.alidns.com
    - quic://doh.pub
  default-nameserver:
    - 223.5.5.5
    - 119.29.29.29
